.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

.header.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
}

.header-logo img {
    width: 7%;
    height: auto;
    margin-top: 25px;
    object-fit: contain;
}

.header nav {
    display: flex;
    gap: 30px;
    font-family: 'Nunito', sans-serif;
    margin-left: 530px;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.8;
    transition: opacity 0.3s ease;

}

.header nav a:hover {
    opacity: 1;
}